<!--The content below is only a placeholder and can be replaced.-->
<div id="content" class="col-lg-10 offset-1" >
  <header id="header" class="col-lg-12" [style.background]="header_color">
      <h1>
        Welcome to {{ title }}
      </h1>
  </header>
<nav id="nav" class="col-lg-12">
     <ul>
       <li>
        <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
       </li>
        <li>
        <a href="#">facturas</a>
       </li>
        <li>
        <a [routerLink]="['/map']" [routerLinkActive]="['activado']">map</a>
       </li>
       <li>
        <a [routerLink]="['/crear-factura']" [routerLinkActive]="['activado']">Crear Factura</a>
       </li>
       <div style="clear:both;"></div>
     </ul>
  </nav>
  <div class="clearfix"></div>

  <section id="main" class="col-lg-12">
      <!-- Componente Actual -->
       <router-outlet></router-outlet>
  </section>

  <footer id="footer" class="col-lg-12">
     <p>Home Service - for BPT</p>
  </footer>
</div>

