#content{
	margin-top: 30px;
	border-radius: 2px;
	background: white;
	box-shadow: 0px 2px 5px #ccc;
	padding: 0px;
	overflow: hidden;
}

#header{

	background: #E03137;
	color: white;
	margin: 0px;
	height: 90px;
	line-height: 90px;

}

#header h1{

    display: block;
	line-height: 90px;
	font-weight: bold;
	font-size: 30px;
}

#nav{
    padding: 0px;
    margin: 0px;
    background: rgb(224, 49, 55, 0.67);

}


#nav ul {
	margin: 0px;
	list-style: none;
	padding-left:20px; 
}

#nav ul li{

	float:left;
	margin-right: 20px;
}
#nav ul li a{
    
    display: block;  
	color: white;
	height: 30px;
	line-height: 25px;
	padding-left:10px;
	padding-right:10px;
	transition: all 300ms;
}


#nav ul li a:hover{

    text-decoration: none;
    background: #E03137;
    
}

#main .jumbotron{
	padding: 50px;
	margin-top: 30px;
	border-radius: 5px;
}

#main .jumbotron a{
	
	margin: 5px;
	
}

#footer {

	margin-top: 30px;
	padding-top: 10px; 
	border-top: 1px solid #eee;
	color: gray;
}

.activado{

font-weight: bold;
border-bottom: 4px solid yellow;
}

#form-factura label{

	margin-top: 10px;

}

#edit{
	margin-left: 50px;

}

