<div class="col-lg-10 offset-1">
	<div class="jumbotron">
		<h2 class="bg-danger">{{title}}</h2>
		<p>la página que está buscando no existe, prueba con estos botones:</p>
		<p>
			<a [routerLink]="['/map']" [routerLinkActive]="['activado']" class="btn btn-lg btn-primary">Ver Facturas</a>
			<a href="#" class="btn btn-lg btn-success">Añadir Facturas</a>
		</p>
	</div>
</div>