<h3>{{title}}</h3>
<hr>

<form #formFactura="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-factura">

<div class="form-group">
  <br/>
   <select class="form-control" #nombre="ngModel" name="cliente" [(ngModel)]="factura.nombre">
    <option *ngFor="let cliente of clientes" [value]="cliente.name" required>
      <span>{{ cliente.name }}</span>
    </option>
   </select>
</div>
<div class="form-group">
   <label>
		Tú dirección:
		<br/>
		<br/>
        <span class="badge badge-danger">Recuerde permitir su ubicación en el navegador, para completar el formulario </span>
   </label>	
  <div  id="map" >
    <input #direccion="ngModel" name="direccion" [(ngModel)]="factura.direccion" type="hidden">
 </div>
</div>
<div class="form-group">
  <label>Seleccione Servicio:  <span *ngIf="!servicio.valid && servicio.touched" class="badge badge-danger">El Servicio es obligatorio </span> </label>
  <br/>
   <select class="form-control" #servicio="ngModel"  name="servicio" [(ngModel)]="factura.servicio">
    <option *ngFor="let servicio of servicios" [value]="servicio.name" required>
      <span>{{ servicio.name }}</span>
    </option>
   </select>
</div>
<div class="form-group">
	<input #nameSede="ngModel" name="nameSede" [(ngModel)]="factura.nameSede" type="hidden">
</div>
<div class="form-group">
	<label>
	    precio total
    </label>
	<input #costo="ngModel" name="costo" [(ngModel)]="factura.costo" type="text" class="form-control" readonly>

</div>
     <br/>
	<input type="submit" class="btn btn-success">
	
    <a id="edit" [routerLink]="['/editar-factura',factura.id]" type="submit" class="btn btn-success">editar</a>
</form>