<div class="col-lg-10 offset-1">
	<div class="jumbotron">
		<h2>{{title}}</h2>
		<p>Gestiona tus facturas con la aplicación Web SPA creada con angular desde cero</p>
		<p>
			<a href="#" class="btn btn-lg btn-primary">Ver factura</a>
			<a [routerLink]="['/crear-factura']" class="btn btn-lg btn-success">Añadir Factura</a>
		</p>
	</div>
</div>